@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Banner Background overlay color  */
/* Button for global */
.btn {
  border-radius: 25px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 40px;
}
.btn.active-btn {
  background-color: #e74c3c;
  padding: 13px 38px;
}
.btn.active-btn:hover {
  background-color: #fff;
  transition: 0.3s;
  color: #333;
}
.btn.border-btn {
  background-color: #fff;
  padding: 13px 38px;
  color: #333;
}
.btn.border-btn:hover {
  background-color: #E74C3C;
  color: #fff;
  transition: 0.3s;
}

/* Section title border */
.section_icon {
  position: relative;
}
.section_icon:before {
  content: "";
  position: absolute;
  background-color: #333333;
  width: 50px;
  height: 1px;
  transform: translateX(-50%);
  left: 45%;
  top: 14px;
}
.section_icon:after {
  content: "";
  position: absolute;
  background-color: #333333;
  width: 50px;
  height: 1px;
  transform: translateX(-50%);
  right: 41%;
  top: 14px;
}
.section_icon i {
  font-size: 25px;
  color: #333;
}

/* All Section Title */
.title {
  text-align: center;
}
.title h2 {
  font-size: 35px;
  text-transform: uppercase;
  color: tomato;
}
.title h2 span {
  color: #333;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* Theme custom heading */
h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  line-height: 75px;
  font-weight: 800;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
}

p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}

/* Theme Custom Padding */
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.header_area {
  padding: 22px 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}
.header_area .headers {
  display: grid;
  grid-template-columns: 20% 80%;
  -moz-column-gap: 5%;
       column-gap: 5%;
  align-items: center;
}
.header_area .headers .header_logo a {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.header_area .headers .header_logo a .logo_tex {
  color: tomato;
  font-size: 16px;
}
.header_area .headers .header_menu ul {
  display: flex;
  justify-content: flex-end;
}
.header_area .headers .header_menu ul li a {
  margin-left: 19px;
  color: #fff;
  font-weight: 500;
}
.header_area .headers .header_menu ul li a:hover {
  color: #E74C3C;
  transition: 0.3s;
}

.banner_area {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 2;
  height: 100vh;
  /* Banner content area Start */
  /* Banner Content area End */
}
.banner_area:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #181515;
  opacity: 0.8;
  z-index: -1;
}
.banner_area .banner_content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.banner_area .banner_content h2 {
  color: #fff;
  text-transform: capitalize;
  margin: 20px 0;
}
.banner_area .banner_content h3 {
  color: #e74c3c;
  text-transform: capitalize;
}
.banner_area .banner_content p {
  color: #fff;
  text-transform: capitalize;
}
.banner_area .banner_content .banner_btn {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 17px;
}

.about_area {
  background-color: #fff;
  /* About title area */
  /* About content area */
}
.about_area .about_title {
  text-align: center;
}
.about_area .about_title h2 {
  font-size: 35px;
  color: #e74c3c;
  text-transform: uppercase;
}
.about_area .about_title h2 span {
  color: #333;
}
.about_area .about {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.about_area .about .about_video {
  position: relative;
  z-index: 5;
}
.about_area .about .about_video:after {
  position: absolute;
  content: "";
  background-color: tomato;
  width: 100%;
  height: 390px;
  z-index: -1;
  top: 14px;
  left: 0;
  margin-left: 15px;
}
.about_area .about .about_video:hover::after {
  margin-left: 0;
  margin-top: -14px;
  transition: 0.3s;
}
.about_area .about .about_video .about_image {
  width: 100%;
}
.about_area .about .about_content h3 {
  color: #e74c3c;
}
.about_area .about .about_content h2 {
  font-size: 26px;
  line-height: 38px;
  font-weight: 600;
  margin: 22px 0;
}
.about_area .about .about_content p {
  color: #333333;
  margin-top: 22px;
}

.service_area {
  background-color: #EFEFEF;
}

.service {
  margin-top: 66px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}

.single_service {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #EFEFEF;
  padding: 32px 23px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */