
.about_area{
    .about_title{
        text-align: center;
        h2 {
            font-size: 35px;
            color: #e74c3c;
            text-transform: uppercase;
            span {
                color: #333;
            }
        }
    }
}










