
.blog_area{
    background-color: #EFEFEF;
    .blog {
        display: grid;
        grid-template-columns: repeat(3,auto);
        column-gap: 20px;
        margin-top: 45px;
        .single_blog{
            &:hover .image {
                transform: scale(1.1);
                transition: .7s;
            }
            &:hover .blog_content h5 {
                color: #E74C3C;
                transition: .2s;
            }
            .blog_image {
                overflow: hidden;
            }
            .blog_content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 23px 0;
                height: auto;
                h5 {
                    font-size: 18px;
                    text-transform: capitalize;
                }
                p {
                    font-size: 15px;
                    font-weight: 400;
                }
                .author {
                    margin: 16px 0;
                    ul{
                        display: flex;
                        li{
                            a{
                                color: #333;
                                font-weight: 600;
                                margin-right: 20px;
                                i{
                                    font-size: 15px;
                                    color: #E74C3C;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}














