
  .branding_area {
    background-color: #EFEFEF;
    .brand {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        .single_brand_image img {
          width: 85%;
        }
      }
  }
  