
.contact_area{
  .contact_address{
      margin-top: 45px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      column-gap: 30px;
    
    .single_address {
      padding: 40px 30px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      transition: .3s;
      &:hover {
        transform: translateY(-10px);
        transition: .3s;
      }
      .icon i {
        font-size: 41px;
        color: #E74C3C;
        margin-bottom: 20px;
      }
      .address_title {
        h5 {
          font-size: 18px;
          text-transform: capitalize;
          margin-bottom: 16px;
        }
        p {
          color: #F48276;
          font-weight: 400;
          font-size: 14px;
          a {
            color: #F48276;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
  }
  .contact {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    .contact_form{
      input, textarea {
        width: 100%;
        padding: 16px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      textarea {
        height: 250px;
      }
      input[type="submit"] {
        padding: 16px 0;
        width: 200px;
        background-color: #fff;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        &:hover {
          color: #fff;
          background-color: tomato;
          transition: .2s;
        }
      }
    }
    .map{
      iframe {
        height: 604px;
        border: 1px solid #ddd;
        width: 100%;
      }
    }
  }
}



