
.header_area {
    padding: 22px 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    transition: .3s;
    &.sticky {
        background-color: #333333cf;
        -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
        box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
    }
    .headers {
        display: grid;
        grid-template-columns: 20% 80%;
        column-gap: 5%;
        align-items: center;
        .header_logo a {
            font-size: 30px;
            color: #fff;
            font-weight: 700;
            .logo_tex {
                color: tomato;
                font-size: 16px;
            }
        }
        .header_menu{
            ul{
                display: flex;
                justify-content: flex-end;
                li{
                    &.current{
                        a{
                            color: #E74C3C;
                        }
                    }
                    a{
                        margin-left: 19px;
                        color: #fff;
                        font-weight: 500;
                        &:hover {
                            color: #E74C3C;
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }
}

