
.pricing_area{
    background-color: #EFEFEF;
    .pricing {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-between;
        column-gap: 25px;
        .single_pricing {
            background-color: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            /* Pricing header content */ 
            .pricing_header_content {
                background-color: #4d4d4d;
                padding-bottom: 20px;
                color: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 28%;
                &.active_pricing_bg {
                    background-color: #E74C3C;
                }
                h3 {
                    font-size: 22px;
                    text-align: center;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    margin: 27px 0;
                }
                .pricing_value{
                    font-size: 65px;
                    font-weight: 700;
                    position: relative;
                    .currency {
                        font-size: 35px;
                        font-weight: 600;
                        position: absolute;
                        left: -25px;
                        top: -22px;
                    }
                    .month {
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
            /* Pricing Content */
            .pricing_content {
                text-align: center;
                padding: 0 15px;
                padding-top: 20px;
                padding-bottom: 50px;
                ul{
                    li{
                        margin-top: 20px;
                        border-bottom: 1px solid #ddd;
                        padding-bottom: 10px;
                        font-weight: 700;
                        color: #777485;
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
                .btn-pricing {
                    background-color: #333333;
                    padding: 7px 17px;
                    color: #fff;
                    text-transform: capitalize;
                    display: inline-block;
                    margin: 26px 0;
                    &.active-btn {
                        background-color: #E74C3C;
                    }
                }
            }
        }
    }
}






  

















