

/* Large Devices */ 
@media (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px;
    }

     /*  Header Area  Start */
    .header_area {
        padding: 44px 0;
        .headers {
            grid-template-columns: repeat(2,auto);
        }
    }
     /*  Header Area  End */


     /*  About Area  Start */
    .about_area{
        .about{
            grid-template-columns: auto auto;
            .about_video{
                &:after{
                    display: none;
                }
            }
        }
    }
     /*  About Area  End */

    /*  Pricing Area  Start */ 
    .pricing_area {
        .pricing {
            grid-template-columns: repeat(3, auto);
            .single_pricing {
                width: 306px;
            }
        }
    }
    /*  Pricing Area  End */ 

    /* Footer area start */ 
    .footer_area {
        .footer {
            .footer_widgets{
                .footer_content {
                    .footer_list {
                        li{
                            a{
                                i{
                                    color: #fff;
                                    font-size: 18px;
                                    margin-right: 4px;
                                    background-color: #E74C3C;
                                    width: 40px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    border-radius: 50%;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* Footer area e */ 

}




/* 
  ##Device = Tablets device
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) {
  
    .container{
        width: 750px;
    }

    /*  Slick menu Area Start */
    .slicknav_menu {
    display: block;
    position: fixed;
    z-index: 999;
    right: 13px;
    background-color: transparent;
    width: 100%;
        .slicknav_nav a:hover {
            background: #E74C3C;
            color: #fff;
        }
        ul{
            background-color: #333333b5;
        }
    }
    /*  Slick menu Area End */

    /*  header Area Start */
    .header_area {
        &.sticky {
            position: fixed;
            top: 0;
            padding: 35px 0;
        }
        .headers {
            grid-template-columns: repeat(2,auto);
            justify-content: space-between;
            .header_menu {
                display: none;
            }
            .header_logo {
                a {
                    display: block;
                    position: fixed;
                    top: 13px;
                }
            }
        }
    }

    /*  header Area End */


    /*  About Area Start */
    .about_area {
        .about_title{
            .section_icon{
                &:before {
                    left: 42%;
                }
                &:after {
                    right: 35%;
                }
            }
        }
        .about {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            -moz-column-gap: 50px;
            row-gap: 47px;
            .about_video{
                .about_image {
                    display: none;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    /*  About Area End */

    /*  Service Area Start */
    .service_area {
        .title{
            .section_icon{
                &:before {
                    left: 43%;
                }
                &:after {
                    right: 36%;
                }
            }
        }
        .service {
            grid-template-columns: repeat(2,auto);
            justify-content: space-between;
        }
    }
    /*  Service Area End */


    /* Counter area start */
    .counter_area {
        .counter {
            grid-template-columns: auto auto;
            justify-content: space-around;
            .single_counter {
                h2{
                    font-size: 18px;
                    span{
                        font-size: 40px;
                    }
                }
                i{
                    font-size: 30px;
                }
            }
        }
    }
    /* Counter area end */ 

    /*  Project Area Start */
    .project_area {
        .title{
            .section_icon{
                &:before {
                    left: 43%;
                }
                &:after {
                    right: 36%;
                }
            }
        }
        .project {
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
        }
    }
    /*  Project Area End */

    /*  Pricing Area Start */
    .pricing_area{
        .title{
            .section_icon{
                &:before {
                    left: 43%;
                }
                &:after {
                    right: 36%;
                }
            }
        }
        .pricing {
            grid-template-columns: 48% 48%;
            row-gap: 20px;
            justify-content: space-between;
        }
    }
    /*  Pricing Area End */

     /*  Team Area Start */
    .team_area {
        .title{
            .section_icon{
                &:before {
                    left: 43%;
                }
                &:after {
                    right: 36%;
                }
            }
        }
        .team {
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
    /*  Team Area End */

    /*  Blog Area Start */
    .blog_area {
        .title{
            .section_icon{
                &:before {
                    left: 43%;
                }
                &:after {
                    right: 36%;
                }
            }
        }
    }
    /*  Blog Area End */

    /*  Testimonial Area Start */
    .testimonial_area {
        .title{
            .section_icon{
                &:before {
                    left: 43%;
                }
                &:after {
                    right: 36%;
                }
            }
        }
    }
     /*  Testimonial Area End */

      /*  Contact Area Start */
      .contact_area {
        .title{
            .section_icon{
                &:before {
                    left: 43%;
                }
                &:after {
                    right: 36%;
                }
            }
        }
        .contact {
            grid-template-columns: repeat(1,1fr);

        }
      }
       /*  Contact Area End */

    /* Footer Area Start */
    .footer_area {
        .footer {
            .footer_widgets{
                .footer_content {
                    .footer_list {
                        li{
                            a{
                                i{
                                    font-size: 15px;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* Footer Area End */
    
}




/* 
   Mobiles Device
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 767px) {
  
   .container{
       width: 300px;
   }

   /*  Slick menu Area Start */
   .slicknav_menu {
    display: block;
    position: fixed;
    z-index: 999;
    right: 13px;
    background-color: transparent;
    width: 100%;
        .slicknav_nav a:hover {
            background: #E74C3C;
            color: #fff;
        }
        ul{
            background-color: #333333b5;
        }
    }
    /*  Slick menu Area End */


    /*  header Area Start */
    .header_area {
        // &.sticky {
        //     position: fixed;
        //     top: 0;
        //     padding: 35px 0;
        // }
        .headers {

            .header_menu {
                display: none;
            }
            // .header_logo {
            //     a {
            //         display: block;
            //         position: fixed;
            //         top: 13px;
            //     }
            // }
        }
    }

    /*  header Area End */

    /*  Banner Area Start */ 
    .banner_area{
        .banner_content{
            h2 {
                font-size: 30px;
                line-height: 44px;
                text-align: center;
            }
            p {
                text-align: center;
            }
            .banner_btn {
                grid-template-columns: auto;
                gap: 0;
            }
        }
    }
    /*  Banner Area End */ 

    /*  About Area Start */ 
    .about_area{
        .about_title{
            h2{
                font-size: 30px;
            }
            .section_icon{
                &:before {
                    left: 68%;
                }
                &:after {
                    right: 51%;
                }
            }
        }
        .about {
            grid-template-columns: auto;
            .about_video {
                display: none;
            }
            .about_content{
                text-align: center;
            }
        }
    }
    /*  About Area End */ 

    /* servie Area Start */ 
    .service_area {
        .title{
            h2{
                font-size: 30px;
            }
            .section_icon{
                &:before {
                    left: 32%;
                }
                &:after {
                    right: 15%;
                }
            }
        }
        .service {
            grid-template-columns: auto;
            .single_service{
                i {
                    font-size: 45px;
                }
            }
        }
    }
    /* servie Area End */ 

    /* counter area Start */ 
    .counter_area{
        .counter {
            grid-template-columns: auto;
            justify-content: center;
            grid-gap: 50px;
            .single_counter{
                h2{
                    span {
                        font-size: 40px;
                    }
                }
            }
        } 
    }
    /* counter area End */

    /*  Project Area Start */ 
    .project_area {
        padding-top: 60px;
        .title{
            h2{
                font-size: 30px;
            }
            .section_icon{
                &:before {
                    left: 32%;
                }
                &:after {
                    right: 15%;
                }
            }
        }
        .project {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }
    /*  Project Area End */ 

    /* Price Area Start */ 
    .pricing_area {
        padding-top: 60px;
        .title{
            h2{
                font-size: 30px;
            }
            .section_icon{
                &:before {
                    left: 32%;
                }
                &:after {
                    right: 15%;
                }
            }
        }
        .pricing {
            grid-template-columns: 100%;
            grid-gap: 25px;
        }
    }
    /* price Area End */ 




        



    
}







































