
.service_area{
    background-color: #EFEFEF;
}




.service {
    margin-top: 66px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
  }
  .single_service {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #EFEFEF;
    padding: 32px 23px;
    text-align: center;
  }