
.team_area{
    .team {
        margin-top: 45px;
        display: grid;
        grid-template-columns: repeat(3,auto);
        column-gap: 20px;
        row-gap: 20px;
        .single_team{
            &:hover .social_overlay {
                height: 100% !important;
            }
            &:hover .team_content {
                box-shadow: 9px 9px 26px -17px rgba(0,0,0,0.75);
                -webkit-box-shadow: 9px 9px 26px -17px rgba(0,0,0,0.75);
                -moz-box-shadow: 9px 9px 26px -17px rgba(0,0,0,0.75);
                transition: .3s;
            }
            .team_image{
                position: relative;
                .social_overlay{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background-color: #000;
                    opacity: 0.75;
                    height: 0;
                    transition: .7s;
                    right: 0;
                    overflow: hidden;
                    .social_content {
                        position: absolute;
                        text-align: center;
                        top: 92%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        user-select: none;
                        ul{
                            li{
                                display: inline-block;
                                margin-left: 6px;
                                a{
                                    i{
                                        font-size: 17px;
                                        background-color: #E74C3C;
                                        width: 40px;
                                        height: 40px;
                                        line-height: 40px;
                                        border-radius: 50%;
                                        color: #fff;
                                        &:hover {
                                            font-size: 17px;
                                            background-color: #fff;
                                            width: 40px;
                                            height: 40px;
                                            line-height: 40px;
                                            border-radius: 50%;
                                            color: #333;
                                            transition: .7s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .team_overlay{
                .team_content{
                    text-align: center;
                    color: #333;
                    text-transform: capitalize;
                    border: 1px solid #ddd;
                    padding: 28px 0;
                    h5 {
                        font-size: 20px;
                        line-height: 40px;
                        font-weight: 600;
                    }
                    p {
                        font-size: 15px;
                        line-height: 34px;
                        font-weight: 700;
                    }
                }
            }

        } 
    }
}




























