.testimonial_area {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 5;
    &.overlay_bg_testi {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            background-color: #000;
            width: 100%;
            height: 100%;
            opacity: 0.85;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    .title{
        h2 span {
            color: #fff;
        }
        .section_icon{
            &:after {
                content: "";
                position: absolute;
                background-color: #fff;
                width: 50px;
                height: 1px;
                transform: translateX(-50%);
                right: 41%;
                top: 14px;
            }
            &:before {
                content: "";
                position: absolute;
                background-color: #fff;
                width: 50px;
                height: 1px;
                transform: translateX(-50%);
                left: 45%;
                top: 14px;
            }
            i {
                color: #fff;
            }
        }
    }
    .testimonial{
        .single_testiminial {
            text-align: center;
            margin-top: 45px;
            p {
                color: #fff;
                max-width: 700px;
                margin: 0 auto;
            }
            h5 {
                color: #E74C3C;
                font-size: 25px;
                font-weight: 500;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            h6 {
                font-size: 18px;
                font-weight: 400;
                color: #fff;
            }
        }

    }
}









  




